.base-form .ant-form-item {
    margin-bottom:0px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
  }
  
  .base-form .ant-form-item:last-of-type {
    border-left: 0px solid #aaa;
    border-right: 0px solid #aaa;
    padding: 16px 0px;
  }
  
  .base-form .ant-form-item .ant-form-item-label {
    font-weight: bold;
    background: #eee;
    border-right: 1px solid #aaa;
    padding: 0px 4px 0px 8px;
    width: 128px;
  }
  
  .base-form .ant-form-item .ant-form-item-label label::after {
    content: '';
  }
  
  .base-form .ant-form-item .ant-input,
  .base-form .ant-form-item .ant-input-number,
  .base-form .ant-form-item .ant-select .ant-select-selector,
  .base-form .ant-form-item .ant-picker,
  .base-form .ant-form-item .sun-editor {
    border-radius: 0;
    border-width: 0;
  }
  
  .base-form .ant-form-item .ant-radio-group,
  .base-form .ant-form-item .ant-checkbox-group {
    padding-left: 8px;
  }
  .base-form .ant-form-item .ant-radio-group .ant-radio-button-wrapper {
    margin-top:4px;
    margin-bottom:4px;
  }
  
  .base-form .ant-form-item .ant-input-number,
  .base-form .ant-form-item .ant-picker {
    width: 100%;
  }
  
  .base-form .ant-form-item .ant-switch {
    margin-left: 6px;
    margin-top: -2px;
  }
  .base-form .ant-form-item .ant-switch.ant-switch-small {
    margin-left: 4px;
    margin-top: -4px;
  }
  
  .base-form .ant-form-item textarea.ant-input {
    resize: none;
  }
  
  .base-form .ant-form-item .ant-upload-list {
    padding: 8px;
  }
  
  .base-form .ant-form-item .sun-editor {
    padding: 1px;
  }